In [1]:
import numpy as np
import pandas as pd

In [3]:
final_result = pd.read_csv('./../data/final_table.csv')
print(final_result.shape)
final_result.head()

(4521, 16)

,symbol,banker_name,co_code,company_name,exchange,beta,mes,vulnerable,type,time,count,nskew,duvol,ic_count,ic_nskew,ic_duvol
0,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,NSE,0.247401,0.001617,1,Public,0,0,-0.626466,-0.655800,1,0.270789,-0.229834
1,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,BSE,0.247401,0.001617,1,Public,1,-1,-0.814185,-0.664436,1,0.270789,-0.229834
2,SBIN.NS,STATE BANK OF INDIA,576805,A & M JUMBO BAGS LTD.,BSE,0.247401,0.001617,1,Public,1,0,0.187605,0.257741,0,-0.227228,-0.010065
3,SBIN.NS,STATE BANK OF INDIA,576805,A & M JUMBO BAGS LTD.,NSE,0.247401,0.001617,1,Public,0,0,0.136015,0.074015,0,-0.227228,-0.010065
4,SBIN.NS,STATE BANK OF INDIA,389178,A 2 Z INFRA ENGG. LTD.,BSE,0.247401,0.001617,1,Public,1,-3,-0.763392,-0.171274,0,-0.059138,-0.183658

In [4]:
information2 = pd.read_table('./../map_data/76694_1_5_20221207_131853_dat.txt', sep = '|')
information2['nic_prod_code'] = information2['nic_prod_code'].apply(lambda x: str(x)[0:2])
nic_prod_code = information2[['company_name','nic_prod_code', 'co_industry_name']]
nic_prod_code.reset_index(drop = True, inplace = True)
nic_prod_code.head()

,company_name,nic_prod_code,co_industry_name
0,INDUCTO STEEL LTD.,46,Wholesale trading
1,INDUSTRIAL & PRUDENTIAL INVST. CO. LTD.,64,Other fund based financial services
2,INDUSTRIAL INVESTMENT TRUST LTD.,64,Other fund based financial services
3,CYIENT LTD.,62,Computer software
4,I D F C LTD.,64,Other fund based financial services

In [6]:
merged_table = pd.merge(final_result, nic_prod_code, on = 'company_name')
merged_table.head()

,symbol,banker_name,co_code,company_name,exchange,beta,mes,vulnerable,type,time,count,nskew,duvol,ic_count,ic_nskew,ic_duvol,nic_prod_code,co_industry_name
0,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,NSE,0.247401,0.001617,1,Public,0,0,-0.626466,-0.655800,1,0.270789,-0.229834,8,Minerals
1,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,BSE,0.247401,0.001617,1,Public,1,-1,-0.814185,-0.664436,1,0.270789,-0.229834,8,Minerals
2,SBIN.NS,STATE BANK OF INDIA,576805,A & M JUMBO BAGS LTD.,BSE,0.247401,0.001617,1,Public,1,0,0.187605,0.257741,0,-0.227228,-0.010065,22,Plastic packaging goods
3,SBIN.NS,STATE BANK OF INDIA,576805,A & M JUMBO BAGS LTD.,NSE,0.247401,0.001617,1,Public,0,0,0.136015,0.074015,0,-0.227228,-0.010065,22,Plastic packaging goods
4,SBIN.NS,STATE BANK OF INDIA,389178,A 2 Z INFRA ENGG. LTD.,BSE,0.247401,0.001617,1,Public,1,-3,-0.763392,-0.171274,0,-0.059138,-0.183658,71,Business services & consultancy

In [7]:
merged_table.to_csv('./../data/merged_table.csv', index = False)